* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family:
    "PingFang SC",
    "Helvetica Neue",
    Helvetica,
    Arial,
    "Microsoft Yahei",
    sans-serif;
  background-color: #f7f8fc;
  color: #1f2933;
}

a {
  color: inherit;
}

.el-message {
  position: fixed !important;
  top: 20px !important;
  right: 20px !important;
  z-index: 9999 !important;
}

.el-message-box__wrapper {
  position: fixed !important;
  top: 0 !important;
  left: 0 !important;
  right: 0 !important;
  bottom: 0 !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  z-index: 9998 !important;
}

.el-message-box {
  margin: 0 auto !important;
}
